<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="default.logger.formatted" value="true"/>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="JSON_STDOUT"/>
    </root>

</configuration>
