<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="DP_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.layouts.ConfigurableLayout" />
        </encoder>
    </appender>


    <logger name="com.github.onsdigital.zebedee" level="debug" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <logger name="com.github.onsdigital.zebedee-reader" level="debug" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <logger name="com.github.davidcarboni.restolino" level="warn" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <root level="info">
        <appender-ref ref="DP_LOGGER"/>
    </root>

</configuration>
