<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--
        Configure the log output format by setting env var DP_LOGGING_FORMAT to:
        -json
        -pretty_json
        -text
        Coloured logging can be enabled by setting env var DP_COLOURED_LOGGING=true
    -->
    <appender name="DP_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.layouts.ConfigurableLayout"/>
        </encoder>
    </appender>

    <logger name="com.github.onsdigital.zebedee" level="debug" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <logger name="com.github.onsdigital.zebedee-reader" level="debug" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <logger name="com.github.davidcarboni.restolino" level="warn" additivity="false">
        <appender-ref ref="DP_LOGGER"/>
    </logger>

    <root level="info">
        <appender-ref ref="DP_LOGGER"/>
    </root>

</configuration>
