<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">${db_audit_username}</property>
        <property name="connection.password">${db_audit_password}</property>
        <property name="connection.url">${db_audit_url}</property>

        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property>-->

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">5</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">3</property>
        <property name="hibernate.c3p0.breakAfterAcquireFailure">true</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.github.onsdigital.zebedee.persistence.model.CollectionHistoryEvent"/>
        <mapping class="com.github.onsdigital.zebedee.persistence.model.CollectionHistoryEventMetaData"/>
        <mapping class="com.github.onsdigital.zebedee.persistence.model.DeletedContentEvent"/>
        <mapping class="com.github.onsdigital.zebedee.persistence.model.DeletedFile"/>

    </session-factory>

</hibernate-configuration>