<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- Use this appender if you want the log output in plain/standard log format. -->
    <appender name="PLAIN_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.layouts.TextLayout"/>
        </encoder>
    </appender>

    <!-- Use this appender if you want the log output in json -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.layouts.JsonLayout"/>
        </encoder>
    </appender>

    <appender name="PRETTY_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.onsdigital.logging.layouts.PrettyJsonLayout"/>
        </encoder>
    </appender>

    <!-- For logging a json object to the console. Only the json message will be output. -->
    <!--    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %msg%n
                </Pattern>
            </layout>
        </appender>-->

    <appender name="AUDIT_SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <!--        <syslogHost>192.168.0.8</syslogHost>
                <port>8514</port>-->
        <syslogHost>10.30.10.57</syslogHost>
        <port>514</port>
        <facility>LOCAL1</facility>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <!-- Send logs to both console and file audit -->
    <logger name="com.github.onsdigital.zebedee.audit" level="info" additivity="false">
        <appender-ref ref="AUDIT_SYSLOG"/>
    </logger>

    <logger name="com.github.onsdigital.logging" level="debug" additivity="false">
        <appender-ref ref="PRETTY_JSON"/>
        <!--<appender-ref ref="JSON"/>-->
        <!--<appender-ref ref="PLAIN_TEXT"/>-->
    </logger>

    <logger name="com.github.onsdigital.logging.click.events" level="trace" additivity="false">
        <appender-ref ref="PLAIN_TEXT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.github.davidcarboni.restolino" level="WARN"/>
    <logger name="c.g.d.restolino" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

</configuration>
