index :
    number_of_shards : 3
    number_of_replicas : 0
analysis :
  analyzer :
    #Overwriting default index analyzer
    #Makes all fields filterable with exact word matching, it is used to make filtering available on all fields by default
    #Searchable fields uses ons_standard_analyzer and ons_detailed_analyzer
    default_index :
      tokenizer : keyword
      filter :
        - trim
        - lowercase
    #Used for analyzing fields that needs to be searcahable, does not include synonyms or stemming
    ons_standard :
      tokenizer : standard
      filter :
        - lowercase
        - standard
        - stop
    #Including detailed analysis like synonyms and stemming, currently only used on detail title field analysis
    ons_synonym_stem :
      tokenizer : standard
      filter :
        - lowercase
        - ons_synonyms
        - standard
        - stop
        - stem_exclusion
        - snowball
    ons_synonym :
      tokenizer : standard
      filter :
        - lowercase
        - ons_synonyms
        - standard
        - stop
    ons_stem :
      tokenizer : standard
      filter :
        - lowercase
        - standard
        - stop
        - stem_exclusion
        - snowball
    ons_synonym_stem_clear_dates : #used for clearing out dates from title, moving title into another field in content wasn't doable, this is the ultimate hacky solution
      tokenizer : standard
      char_filter : clear_dates
      filter :
        - lowercase
        - ons_synonyms
        - standard
        - stop
        - stem_exclusion
        - snowball
    ons_stem_clear_dates : #used for clearing out dates from title, moving title into another field in content wasn't doable, this is the ultimate hacky solution
      tokenizer : standard
      char_filter : clear_dates
      filter :
        - lowercase
        - standard
        - stop
        - stem_exclusion
        - snowball
    first_letter :
      #Extracts first letter, elastic search does not seem to have a prefix aggregation, as a workaround first letter is indexed for a to z tool
      #Not that the pattern skips any non-letter character at the beginning
      tokenizer : keyword
      filter :
        - lowercase
        - first_letter
  char_filter :
    clear_dates :
      type: pattern_replace
      pattern : "([1|2]\\d{3})|((?i)january|february|march|april|may|june|july|august|september|october|november|december)"
  filter :
    stem_exclusion :
        type : keyword_marker
        # Add words to the 'keywords' array below to stop the words being stemmed and to keep the words in thier original form
        keywords : [
                      "productivity",
                      "production"
                   ]
    first_letter :
      type : pattern_replace
      pattern: "^[^a-zA-Z]*(.).*"
      replacement: "$1"
    ons_synonyms :
      type : synonym
      # stores synonyms for search engine
      # there are 2 possible formats
      # 1. term => another term = items on lhs are mapped to items on rhs
      # 2. term,another term,and another term = all terms are synonymous with each other,
      # careful with the second one, messes up relevancy by creating same words multiple times in the index, try direct mapping of abbreviation to what it stands for
      # Spacing between terms in a phrase is not important in the synonyms list
      synonyms :
        - "cpi, consumer price inflation, consumer price index"
        - "rpi,  retail price index"
        - "gdp,  gross domestic product"
        - "ashe,  annual survey of hours and earnings"
        - "gva,  gross value added"
        - "awe,  average weekly earnings"
        - "lsoa,  lower layer super output area"
        - "ppi,  producer price inflation, producer price index"
        - "sic,  standard industrial classification"
        - "ukea,  uk economic accounts"
        - "neet,  young people not in education"
        - "neet,  employment or training"
        - "fdi,  foreign direct investment"
        - "bop,  balance of payments"
        - "sme,  small medium enterprises"
        - "bres,  business register and employment survey"
        - "gdhi,  gross disposable household income"
        - "hpi,  house price index"
        - "idbr,  inter departmental business register"
        - "uk,  united kingdom"
        - "copd,  chronic obstructive pulmonary disease"
        - "lfs,  labour force survey"
        - "imd,  index of multiple deprivation"
        - "ccg,  clinical commissioning group"
        - "abs,  annual business survey"
        - "sppi,  services producer price indices"
        - "hiv,  human immunodeficiency virus"
        - "ips,  international passenger survey"
        - "msoa,  middle layer super output areas"
        - "aei,  average earnings index"
        - "soc,  standard occupational classification"
        - "jsa,  jobseekers allowance"
        - "vat,  value added tax"
        - "hmrc,  hm revenue and customs published"
        - "ltim,  long term international migration"
        - "ns sec,  national statistics socio economic classification"
        - "nssec,  national statistics socio economic classification"
        - "topsi,  turnover and orders in production and services industries"
        - "r&d,  research and development"
        - "berd,  business enterprise research and development"
        - "iop,  uk index of production"
        - "ios,  index of services"
        - "rsi,  retail sales index"
        - "ict,  information and communication technology"
        - "gfcf,  gross fixed capital formation"
        - "esa,  european system of accounts"
        - "aps,  annual population survey"
        - "eu,  european union"
        - "m&a, mergers and acquisitions"
        - "itis, international trade in services"
        - "imr, infant mortality rate"
        - "tfr, total fertility rate"
        - "evo, estimates of the very old"
        - "asdr, age specific death rate"
        - "asmr, age standardised mortality rate or ratio"
        - "etb, etbhi, effects of taxes & benefits on household income"
        - "lcf, lcfs, living costs & food survey"
        - "eu-silc, eusilc, silc, eu-statistics on income & living condition"
        - "esspros, european system of social protections statistics"
        - "sdg, sustainable development goals"
        - "sdi, sustainable development indicators"
        - "pwb, personal well-being"
        - "ghg, greenhouse gas emissions"
        - "wfj, workforce jobs"
        - "was, wealth and assets survey"
        - "oa, output area"
        - "wz, workplace zone"
        - "npp, national population projections"
        - "snpp, subnational population projections"
        - "suid, sudden unexpected/unexplained infant deaths"
        - "drd, drug related deaths"
        - "c diff, clostridium difficile"
        - "eolc, end of life care"
        - "mb1, cancer registrations"
        - "imd, index of multiple deprivation"
        - "utla, upper tier local authority"
        - "sep, socioeconomic position"
        - "hi, health inequality"
        - "wellbeing => well being"
        - "psf => public sector finance"
